button, a.maklumat, a.banding {
    font-family: helvetica;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    color: #00220f;
    
    width: 100px;
    padding: 7px 8px 7px 32px;
    border: 2px solid #395f4f;
    border-radius: 7px;
    margin-top: 10px;
    background-position: 8px;
    background-repeat: no-repeat;
}

button.login {
    transition: 0.4s;
    background-image: url(imej/signin.png);
}

button.signup {
    transition: 0.4s;
    background-image: url(imej/signup.png);
}

button.batal {
    background-image: url(imej/delete2.png);
}

button.import {
    background-image: url(imej/import.png);
}

button.tambah {
    background-image: url(imej/add.png);
}

button.update {
    background-image: url(imej/update.png);
    
}
button.merah {
    background-image: url(imej/red.png);
}

button.biru {
    background-image: url(imej/blue.png);
}

button.hijau {
    background-image: url(imej/green.png);
}

button.hitam {
    background-image: url(imej/black.png);
}

button.cetak {
    background-image: url(imej/printer.png);
}

button.cari {
    background-image: url(imej/search.png);
}

a.maklumat {
    width: 110px;
    text-decoration: none;
    background-image: url(imej/info.png);
}

a.banding {
    width: 110px;
    text-decoration: none;
    background-image: url(imej/note.png);
}

button:hover,
a.maklumat:hover,
a.banding:hover {
    background-color: darkgray;
    cursor: pointer;
}





















