body {
      
      background-color: darkseagreen;
  }

  img {
      width: 125px;
      border-radius: 75px;
      border: 4px solid #ffffff;
  }

  .maintitle {
      font-weight: bold;
      margin-top: 40px;
      font-size: larger;
  }

  h1 {
      color: #ffd500;
  }

  p {
      color: #ffd500;
  }

  h6 {
      color: #ffffff;
  }

  div.home {
    width: 550px;
    padding: 10px;
    margin: 0px auto;
  }

  div.header {
    height: 130px;
    background-color: aquamarine;
  }

  div.menubar {
    width: 100%;
    height: 45px;
    padding: 0px;
    background-color: cadetblue;
 }

 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
 }

 ul li {
    display: block;
    float: left;
 }

 li ul {
    display: none;
 }

 ul li a {
    font-family: verdana;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: white;

    width: 100px;
    padding: 14px;
    background-color: darkseagreen;
    margin-right: 2px;
    display: block;
    text-decoration: none;
}



 ul li a:hover {
    color: black;
    background-color: silver;
 }


